body {
    background: burlywood;
    text-align: center;
    font-family: monospace;
}

.card {
    background: white;
    border-radius: 6px;
    display: inline-block;
    height: 470px;
    width: 375px;
    margin-top: 60px;
    box-shadow: 0 12px 13px black;
}

.img {
    border-radius: 100%;
    margin-top: 60px;
    width: 132px;
    height: 128px;
}

.name {
    color: darkgreen;
}

.title {
    color: darkslategrey;
    font-size: 18px;
}

.desc {
    font-size: 15px;
    color: darkslategray;
    margin-left: 65px;
    margin-right: 65px;
    margin-top: 16px;
}

.btn {
    outline: none;
    background: darkkhaki;
    margin-top: 20px;
    border: none;
    height: 40px;
    width: 35%;
    color: darkgreen;
    font-size: 12px;
    font-weight: bold;
    border-radius: 35px;
}

.btn:hover{
    color: salmon;
    background: black;
    transition: all 200ms linear;
    cursor: pointer;
}